<!DOCTYPE html>
<html>
<head>
  <meta http-equiv = "refresh" content = "4; url = /inner" />
  <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
  <title>Processing</title>
</head>
<body>
<div>
<img src="{{ url_for('static',filename='assets/img/apple-touch-icon1.png') }}" alt="Paris" style="width:10%;">
</div>
<center><h1>Processing</h1>

<h2>This assumption is completely based on a machine learning program it may not that accurate.</h2></center>>

</body>
</html>